section.section1 {background-color: #FFFFCC; visibility: hidden;}

section.section2 {background-color: #DCDCDC; visibility: hidden;}

#friends {width: 600px; height: auto}
#glasses {width: 600px; height: auto}